@media(max-width:470px){ 
body {
    background-color: aqua;
    outline: none;
    font-family: 'Caveat', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Signika Negative', sans-serif;
}

.welcome {
    margin: 0;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.ideas {
    margin: 0;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.navbar {
    
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.Communicate , .Signup , .Login {
    color: red;
    text-decoration: none;
    margin: 3%;
    
}
.line {
    width: 2px;
    height: 100px;
    background-color: #000;
    position: absolute;
    left: 54%;
    top: 34%;
    
    
}
.version {
    font-size: 14px;
    position: absolute;
    top: 34%;
    left: 56%;
    font-weight: bolder;
}
.v1p0{
    display: flex;
    position: absolute;
    top: 35%;
    left: 55.4%;
}

}
@media (min-width:481px) and (max-width:760px) {
    body {
        background-color: aqua;
        outline: none;
        font-family: 'Caveat', cursive;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    
    }
.navbar{
    font-size: 25px;
    justify-content: center;
    display: flex;
    
}
.Communicate , .Signup , .Login {
    color: red;
    text-decoration: none;
    margin: 5%;
    align-items: center;
    display: flex;
    
}
.welcome{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.ideas{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.line {
    width: 2px;
    height: 100px;
    background-color: #000;
    position: absolute;
    left: 70%;
    top: 34%;
    
    
}
.version {
    font-size: 14px;
    position: absolute;
    top: 34%;
    left: 72%;
}
.v1p0{
    display: flex;
    position: absolute;
    top: 35%;
    left: 71.4%;
}
}
@media (min-width:640px) and (max-width:20000px){
    body {
        background-color: aqua;
        outline: none;
        font-family: 'Caveat', cursive;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    }
    
    .welcome {
        margin: 0;
        font-weight: bolder;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
    }
    
    .ideas {
        margin: 0;
        font-weight: bolder;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
    }
    .navbar {
        
        font-size: 20px;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }
    .Communicate , .Signup , .Login {
        color: red;
        text-decoration: none;
        margin: 3%;
        
    }
    .line {
        width: 2px;
        height: 100px;
        background-color: #000;
        position: absolute;
        left: 54%;
        top: 34%;
        
        
    }
    .version {
        font-size: 14px;
        position: absolute;
        top: 34%;
        left: 56%;
        font-weight: bolder;
    }
    .v1p0{
        display: flex;
        position: absolute;
        top: 35%;
        left: 55.4%;
    }
    
    }
